.header
{
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.logo
{
    color: #dfe6e7;
    background-color: #302613;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid black;
    margin: 5px;
}

.logo-div
{
    margin-left: 30px;
}

.logo img 
{
    width: 200px;
}

.nav
{
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 20px;    
}

.nav .btns
{
    padding: 5px;
}

.nav .btns button
{
    border-radius: 5px;
    color: #dfe6e7;
    background-color: #302613;
    padding: 10px; 
    margin: 5px;
}