form
{
    width:100%;
    margin-top: 55px;
}
.user, .pwd, .btn, .forgotlink
{
    text-align: center;
    padding: 5px;
}
.lbl
{
    text-align: left;
    display: none;
}
.input input
{
    text-align: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn-login, .btn-register
{
    border-radius: 5px;
    color: #dfe6e7;
    background-color: #302613;
    font-size: 1.0rem;
    padding: 5px 0px;
    outline: none;
    cursor: pointer;
    width: 100%;
    border: none;
}
.link-forget
{
    text-decoration: none;
    color: #302613;
    font-weight: bold;
}