<form>
  <div class="user">
    <div class="lbl">
      <label for="username">Username :</label>
    </div>
    <div class="input">
      <input placeholder="Enter Username" name="username" type="text" />
    </div>
  </div>
  <div class="pwd">
    <div class="lbl">
      <label for="password">Password :</label>
    </div>
    <div class="input">
      <input placeholder="Enter Password" name="password" type="password" />
    </div>
  </div>
  <div class="btn">
    <button class="btn-login">Login</button>
  </div>
  <div class="forgotlink">
    <a class="link-forget" href="">Forgot Password/Help</a>
  </div>
  <div class="btn">
    <button class="btn-register">Register Now</button>
  </div>
</form>
